<head>
    <script src="/htmx/htmx.min.js"></script>
</head>

<h1>yeah</h1>

<div id="parent-div">something</div>

<button 
    hx-post="/lol"
    hx-trigger="click"
    hx-target="#parent-div"
    hx-swap="outerHTML"
>
    lol?
</button>
