<!DOCTYPE html>
<html lang="en">
  <%- include("./_head") %>
  <body>
    <h1>yeah</h1>

    <div id="target-div" class="text-red-600">something</div>

    <button
      hx-post="/lol"
      hx-trigger="click"
      hx-target="#target-div"
      hx-swap="outerHTML"
    >
      lol?
    </button>
  </body>
</html>
