<!DOCTYPE html>
<html lang="en">
  <%- include("./_head") %>
  <body>
    <h1>temp</h1>
    <div id="elem1">elem1 inner</div>
    <div id="elem2">elem2 inner</div>
    <button hx-get="/temp_" hx-target="#elem1">go</button>
  </body>
</html>
